                    <% if item.favorited_by?(current_customer) %>
                        <p class="favorite-btn">
                          <%= link_to item_favorites_path(item), method: :delete , remote: true do %>
                            ♥<%= item.favorites.count %> いいね
                          <% end %>
                        </p>
                        <% else %>
                        <p class="favorite-btn">
                          <%= link_to item_favorites_path(item), method: :post , remote: true do %>
                            ♡<%= item.favorites.count %> いいね
                          <% end %>
                        </p>
                    <% end %>