                    <% if item.favorited_by?(current_customer) %>
                        <p class="favorite-btn">
                          <%= link_to '登録済み', item_favorites_path(item), method: :delete , remote: true , class:"btn btn-danger" %>
                        </p>
                        <% else %>
                        <p class="favorite-btn">
                          <%= link_to 'お気に入り登録', item_favorites_path(item), method: :post , remote: true , class:"btn btn-primary" %>
                        </p>
                    <% end %>