/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

.separate {
  margin-top: 40px;
}

.header-footer {
  background-color: #40E0D0;
}

.header-footer-admin {
  background-color: #00BFFF;
}

body{
  background-image: image-url('texture1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

 main{
  margin-bottom: 40px;
  flex: 1;
}

 .inner{
  vertical-align: middle;
}

 .registration-bg{
  background-color: #FFF8DC;
  padding: 20px 20px ;

}

/* 画像スライダー設定　ここから */
/* 高さを指定することにより画像が表示される */
#box{
  height: 500px;
  margin-bottom: 50px;
}
.image1 {
  background-image: url(top1.jpg);
}
.image2 {
  background-image: url(top2.jpg);
}
.image3 {
  background-image: url(top3.jpg);
}
.image4 {
  background-image: url(top4.jpg);
}
/* 画像スライダー設定　ここまで */

.footer_copyright {
  margin-top: 10px;
}